.custom-calendar.rmdp-wrapper,
.rmdp-container .custom-calendar.ep-arrow::after {
  background-color: bisque;
}

.rmdp-week-day {
  color: rgb(172, 79, 79) !important;
}

.rmdp-month {
  color: rgb(120, 59, 59) !important;
}

.musait {
  background-color: white;
  color: white;
}

.dolu {
  background-color: gray;
  color: white;
}

.rezervasyon {
  background-color: #ff851b;
  color: white;
}

.secili {
  background-color: #1b7cd1;
  color: white;
}

.legend {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.legend-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
